<br>

<mat-toolbar style="width: fit-content; justify-content: center; margin: 0 auto; background-color: white; ">
    <p style="font-size: 35px; font-family: Jokerman; color: rgb(35, 35, 119);">Yummyyy!!!!</p>
  </mat-toolbar>


  <div class="content" >
    <div fxLayout="row wrap" fxLayoutGap="16px grid"  >
      <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let item of cakecategory" style="margin-left: 1px;">
        <mat-card class="mat-elevation-z4" *ngIf = "IsCategory(item.cakename)">
          <img mat-card-image src="{{item.cakepicture}}">
          <mat-card-content>
            <h2>  ₹ {{item.price}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button routerLink="/order/{{item.cakeid}}" class="btn btn-primary" style="background-color:rgb(84, 210, 233) ;">Buy Now</button></h2>
            <h2><button routerLink="/cart" class="btn btn-primary"    (click)=addtocart(item)>Add to cart</button></h2>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>