<!-- <div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Home</div>
    <div class="page__content shadow p-3 position-relative">
      <div class="page__content-data position-absolute text-center">
        Home Content Goes Here
      </div>
    </div>
  </div> -->

  <!-- <mat-toolbar color="primary">
    <span>Card view demo</span>
    <button mat-button (click)="toggleGridColumns()" fxHide.lt-md>
      <span *ngIf="gridColumns === 4">Three Columns</span>
      <span *ngIf="gridColumns === 3">Four Columns</span>
    </button>
  </mat-toolbar> -->
  <br>
  <mat-toolbar style="width: fit-content; justify-content: center; margin: 0 auto; background-color: white; border: 2px solid black; border-radius: 10px;">
    <p style="font-size: 35px; font-family: Jokerman; color: rgb(35, 35, 119);">A party without cake is just a meeting</p>
  </mat-toolbar>
  <div class="content">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
      <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%">
        <mat-card class="mat-elevation-z4" routerLink="/cakecategory/Chocolate" style="cursor: pointer;">
          <img mat-card-image src="../../assets/images/chococake.jpg">
          <mat-card-content>
            <h2>Chocolate Cake</h2>
          </mat-card-content>
        </mat-card>
      </div>
      <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%">
        <mat-card class="mat-elevation-z4" routerLink="/cakecategory/Redvelvet" style="cursor: pointer;">
          <img mat-card-image src="../../assets/images/redvelvetcake.jpg">
          <mat-card-content>
            <h2>Red Velvet Cake</h2>
          </mat-card-content>
        </mat-card>
      </div>
      <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%">
        <mat-card class="mat-elevation-z4" routerLink="/cakecategory/Strawberry" style="cursor: pointer;">
          <img mat-card-image src="../../assets/images/strawberrycake.jpg">
          <mat-card-content>
            <h2>Strawberry Cake</h2>
          </mat-card-content>
        </mat-card>
      </div>
      <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%">
        <mat-card class="mat-elevation-z4" routerLink="/cakecategory/Blueberry" style="cursor: pointer;">
          <img mat-card-image src="../../assets/images/blueberrycake.png">
          <mat-card-content>
            <h2>Blueberry Cake</h2>
          </mat-card-content>
        </mat-card>
      </div>
      <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%">
        <mat-card class="mat-elevation-z4" routerLink="/cakecategory/Butterscotch" style="cursor: pointer;">
          <img mat-card-image src="../../assets/images/butterscotchcake.jpg">
          <mat-card-content>
            <h2>Butterscotch Cake</h2>
          </mat-card-content>
        </mat-card>
      </div>
      <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%">
        <mat-card class="mat-elevation-z4" routerLink="/cakecategory/Blackforest" style="cursor: pointer;">
          <img mat-card-image src="../../assets/images/blackforestcake.jpg">
          <mat-card-content>
            <h2>BlackForest Cake</h2>
          </mat-card-content>
        </mat-card>
      </div>
      <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%">
        <mat-card class="mat-elevation-z4" routerLink="/cakecategory/Oreo" style="cursor: pointer;">
          <img mat-card-image src="../../assets/images/oreocakes.jpg">
          <mat-card-content>
            <h2>Oreo Cake</h2>
          </mat-card-content>
        </mat-card>
      </div>
      <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%">
        <mat-card class="mat-elevation-z4" routerLink="/cakecategory/Truffle" style="cursor: pointer;">
          <img mat-card-image src="../../assets/images/trufflecake.jpg">
          <mat-card-content>
            <h2>Truffle Cake</h2>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>


