div.card
{
    margin-right: 5cm;
    border-radius: 10px;
    width: 60%;
    margin-left: 2cm;
}

div.sm-jumbotron{
    margin: 0px;
    padding: 1rem;
    background-color: #19283d;
    color: #fff;
    border-radius: 10px;
}

button.btn-submit{
    background-color: #38547b;
    color: #fff;
    width: 100%;
}
button.btn-submit:focus,button.btn-submit:hover{
    background-color: #38547b;
}

 input.ng-invalid.ng-dirty{
    border-bottom-color : #e91e63 !important;
    box-shadow: 0 1px 0 0 #e91e63 !important;
} 

table
{
    border: 2px solid black;
    font-size: 15px;
}

.alist
{
    margin-right: 160px; 
    cursor: pointer; 
    font-weight: 40px; 
    font-size: 30px; 
    text-decoration: underline;
    color: black;
}