<mat-nav-list>
    <div class="logo py-4">
        <h1 style="color: rgb(173, 163, 231); font-family: Edwardian Script ITC; font-size: 50px;">Cake Shop</h1>
        <!-- <img src="" alt="Company Logo"> -->
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2"></h2>
    <a mat-list-item routerLink="/home" routerLinkActive="list-item-active">
        <mat-icon>home</mat-icon> View Cakes
    </a> 
    <a mat-list-item routerLink="/home" *ngIf="IsAuthendicated()" (click) = "Logout()">
        <mat-icon>exit_to_app</mat-icon> Logout
    </a> 
    <!-- <a mat-list-item routerLink="/dashboard" routerLinkActive="list-item-active">
        <mat-icon>dashboard</mat-icon> Dashboard
    </a> 
    <a mat-list-item> <mat-icon>edit</mat-icon>Link 3</a>
    <a mat-list-item> <mat-icon>edit</mat-icon>Link 4</a>
    <a mat-list-item> <mat-icon>edit</mat-icon>Link 5</a>
    <a mat-list-item> <mat-icon>edit</mat-icon>Link 6</a> -->
</mat-nav-list>