<div class="row">
    <div class="col s8 offset-s2"><br>
        <h1 class="text-center">
            <!-- <button type="button" class="btn btn-outline-primary btn-lg mt-5 ml-5" (click)="get_api()">Cake List</button> -->
            <!-- <button type="button" class="btn btn-outline-primary btn-lg mt-5 ml-5" (click)="postbutton()">Cake Form</button> -->
            <a (click) = "get_api()" >
                <h1 class="alist" *ngIf = "viewcake">View Cake List</h1>
            </a>
            <a (click) = "postbutton()" >
                <h1 class="alist" *ngIf="addcakes">Add Cake</h1>
            </a>
        </h1>
        <div class="card" *ngIf = "flagpost">
            <div class="sm-jumbotron center-align">
                <h2 style="margin-top: 20px;">Add Cake</h2>
            </div><br><br>
            <form class="col s12 white" autocomplete="off" #cakeForm="ngForm" (ngSubmit) = "post_api(cakeForm.value)">
                <div class="row">
                    <div class="input-field col s12">
                        <input type="text" name="cakepicture"  #cakepicture = "ngModel" [(ngModel)] = "addcake.cakepicture" required>
                        <label>Image path</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input type="text" name="cakeweight" #cakeweight = "ngModel" [(ngModel)] = "addcake.cakeweight" required>
                        <label>Cake Weight</label>
                    </div>
                    <div class="input-field col s6">
                        <input type="number" name="price" #price = "ngModel" [(ngModel)] = "addcake.price" required>
                        <label>Price</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input type="text" name="cakename" #cakename = "ngModel" [(ngModel)] = "addcake.cakename" required>
                        <label>Cake Name</label>
                    </div>
                    <div class="input-field col s6">
                        <input type="text" name="shape" #shape = "ngModel" [(ngModel)] = "addcake.shape" required>
                        <label>Shape</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <button  type="submit" [disabled] = "!cakeForm.valid" class="btn-large btn-submit">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- ---------------View----------------- -->

<div class="container" *ngIf="flag">
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>CakeId</th>
                <th>Cake Picture</th>
                <th>Cakeweight</th>
                <th>Cake price</th>
                <th>Cake name</th>
                <th>Cake shape</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
       <tbody>
        <tr *ngFor="let item of admincake">
            <td>{{item.cakeid}}</td>
            <td>{{item.cakepicture}}</td>
            <td>{{item.cakeweight}}</td>
            <td>{{item.price}}</td>
            <td> {{item.cakename}}</td>
            <td>{{item.shape}}</td>
            <td><button (click)="get_apibyId(item.cakeid)" class="btn btn-sm btn-outline-danger"><mat-icon>edit</mat-icon></button></td>
            <td><button (click)="delete_api(item.cakeid)" class="btn btn-sm btn-outline-danger"><mat-icon>delete</mat-icon></button></td>
          </tr>
       </tbody>
      </table>
</div>
<!-- ---------------------Edit--------------------------- -->
<div class="row">
    <div class="col s8 offset-s2"><br>
        <div class="card" *ngIf = "flagupdate">
            <div class="sm-jumbotron center-align">
                <h2 style="margin-top: 20px;">Update Cake</h2>
            </div><br><br>
            <form class="col s12 white" autocomplete="off" #upcakeForm="ngForm" (ngSubmit) = "put_api(upcakeForm.value,user.cakeid)">
                <input type="file" name="cakeid"   [(ngModel)] = "user.cakeid" hidden>
                <div class="row">
                    <div class="input-field col s12">
                        <input type="file" name="cakepicture"  [(ngModel)] = "user.cakepicture" required>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input type="text" name="cakeweight" #cakeweight = "ngModel" [(ngModel)] = "user.cakeweight" required>
                        <!-- <label>Cake Weight</label> -->
                    </div>
                    <div class="input-field col s6">
                        <input type="number" name="price" #price = "ngModel" [(ngModel)] = "user.price" required>
                        <!-- <label>Price</label> -->
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input type="text" name="cakename" #cakename = "ngModel" [(ngModel)] = "user.cakename" required>
                        <!-- <label>Cake Name</label> -->
                    </div>
                    <div class="input-field col s6">
                        <input type="text" name="shape" #shape = "ngModel" [(ngModel)] = "user.shape" required>
                        <!-- <label>Shape</label> -->
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <button  type="submit" class="btn-large btn-submit" >Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>